
{% block content %}
<div class="container">
  <h2> Task list</h2>
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>env</th>
        <th>project_name</th>
        <th>deploy_url</th>
        <th>status</th>
        <th>result</th>
      </tr>
    </thead>
    <tbody>
            {% if task_list %}
						<tr>
								<td> {{ task.env }} </td>
								<td> {{ task.env.project_name }} </td>
								<td> {{ task.deploy_url }} </td>
								<td> {{ task.status }} </td>
								<td> {{ task.result }} </td>
						</tr>
			{% else %}
					<p>No polls are available.</p>
			{% endif %}

    </tbody>
  </table>
</div>


{% endblock %}
